#services {
  padding: 8rem 12%;
}
.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service-box {
  width: 300px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(246, 246, 246);
  transition: transform 0.3s ease;
}

.service-box:hover {
  transform: translateY(-5px);
}

.service-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.service-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.service-description {
  font-size: 16px;
  color: #777;
}
@media screen and (max-width: 1000px) {
  #services {
    padding: 5rem 5%;
  }
  .service-box {
    width: 100%;
    transition: transform 0.3s ease;
  }
}
